body {
    background-color:beige;
}

.container {
    margin: 0 auto;
    padding: 20px;
    max-width: 600px;
}

.input-area {
    display: flex;
    gap: 10px;
    align-items: center;
}

input {
    width: 500px;
    padding: 20px;
    border: 1px solid #cccccc;
    border-radius: 8px;
}

button {
    background-color:cornflowerblue;
    color: black;
    border-radius: 8px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

li {
    padding: 20px;
    border-bottom: 1px solid #cccccc;
    
}

li:last-child {
    border-bottom: none;
}

h1 {
    text-align: center;
}